.custom-checkbox {
  padding-left: 30px;
}

.custom-checkbox:hover label {
  cursor: pointer;
  user-select: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-button {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

.data-table-extensions > .data-table-extensions-action > button {
  margin-bottom: 20px;
}
