body {
  background-color: #f5f7fa;
}

.App {
  overflow: hidden;
  height: 100vh;
}

.spinner-pos {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  right: 50%;
  margin-top: -24px;
  margin-right: -24px;
}

.img-center {
  margin: auto;
  display: block;
  padding-bottom: 32px;
}
